<div class="main">
    <div class="row">
        <header class="col-md-12">
            <h1><span>容器列表</span></h1>
        </header>
        <div class="col-md-12">
            <div class="data-grid  row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th><a href="#" role="button" title="排序"><span>ID</span></a></th>
                                <th><a href="#" role="button" title="排序"><span>名称</span></a></th>
                                <th><a href="#" role="button" title="排序"><span>状态</span></a></th>
                                <th><a href="#" role="button" title="排序"><span>标签</span></a></th>
                                <th><a href="#" role="button" title="排序"><span>主机</span></a></th>
                                <th><a href="#" role="button" title="排序"><span>镜像</span></a></th>
                                <th><a href="#" role="button" title="排序"><span>命令</span></a></th>
                                <th><a href="#" role="button" title="排序"><span>创建者</span></a></th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="">
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    <div>5f79f0c45618</div>
                                </td>
                                <td>csphere-agent</td>
                                <td><span class="state text-danger"> 主机异常</span></td>
                                <td></td>
                                <td><a class="" href="#">iZ255lpbd1aZ</a></td>
                                <td><a class="" href="#">csphere/csphere:1.0.1</a></td>
                                <td>/bin/csphere-init -inherit-env</td>
                                <td></td>
                                <td>
                                    <div class="action-buttons"></div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    <div>5f79f0c45618</div>
                                </td>
                                <td>csphere-agent</td>
                                <td><span class="state text-danger"> 主机异常</span></td>
                                <td></td>
                                <td><a class="" href="#">iZ255lpbd1aZ</a></td>
                                <td><a class="" href="#">csphere/csphere:1.0.1</a></td>
                                <td>/bin/csphere-init -inherit-env</td>
                                <td></td>
                                <td>
                                    <div class="action-buttons"></div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    <div>5f79f0c45618</div>
                                </td>
                                <td>csphere-agent</td>
                                <td><span class="state text-danger"> 主机异常</span></td>
                                <td></td>
                                <td><a class="" href="#">iZ255lpbd1aZ</a></td>
                                <td><a class="" href="#">csphere/csphere:1.0.1</a></td>
                                <td>/bin/csphere-init -inherit-env</td>
                                <td></td>
                                <td>
                                    <div class="action-buttons"></div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    <div>5f79f0c45618</div>
                                </td>
                                <td>csphere-agent</td>
                                <td><span class="state text-danger"> 主机异常</span></td>
                                <td></td>
                                <td><a class="" href="#">iZ255lpbd1aZ</a></td>
                                <td><a class="" href="#">csphere/csphere:1.0.1</a></td>
                                <td>/bin/csphere-init -inherit-env</td>
                                <td></td>
                                <td>
                                    <div class="action-buttons"></div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    <div>5f79f0c45618</div>
                                </td>
                                <td>csphere-agent</td>
                                <td><span class="state text-danger"> 主机异常</span></td>
                                <td></td>
                                <td><a class="" href="#">iZ255lpbd1aZ</a></td>
                                <td><a class="" href="#">csphere/csphere:1.0.1</a></td>
                                <td>/bin/csphere-init -inherit-env</td>
                                <td></td>
                                <td>
                                    <div class="action-buttons"></div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    <div>5f79f0c45618</div>
                                </td>
                                <td>csphere-agent</td>
                                <td><span class="state text-danger"> 主机异常</span></td>
                                <td></td>
                                <td><a class="" href="#">iZ255lpbd1aZ</a></td>
                                <td><a class="" href="#">csphere/csphere:1.0.1</a></td>
                                <td>/bin/csphere-init -inherit-env</td>
                                <td></td>
                                <td>
                                    <div class="action-buttons"></div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    <div>5f79f0c45618</div>
                                </td>
                                <td>csphere-agent</td>
                                <td><span class="state text-danger"> 主机异常</span></td>
                                <td></td>
                                <td><a class="" href="#">iZ255lpbd1aZ</a></td>
                                <td><a class="" href="#">csphere/csphere:1.0.1</a></td>
                                <td>/bin/csphere-init -inherit-env</td>
                                <td></td>
                                <td>
                                    <div class="action-buttons"></div>
                                </td>
                            </tr>
                            <tr class="">
                                <td>
                                    <input type="checkbox"/>
                                </td>
                                <td>
                                    <div>5f79f0c45618</div>
                                </td>
                                <td>csphere-agent</td>
                                <td><span class="state text-danger"> 主机异常sunshibso</span></td>
                                <td></td>
                                <td><a class="" href="#">iZ255lpbd1aZ</a></td>
                                <td><a class="" href="#">csphere/csphere:1.0.1</a></td>
                                <td>/bin/csphere-init -inherit-env</td>
                                <td></td>
                                <td>
                                    <div class="action-buttons"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>