@charset "utf-8";
@font-face {
  font-family: 'iconfont';  /* project id 754425 */
  src: url('//at.alicdn.com/t/font_754425_rw0baguq6y.eot');
  src: url('//at.alicdn.com/t/font_754425_rw0baguq6y.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_754425_rw0baguq6y.woff') format('woff'),
  url('//at.alicdn.com/t/font_754425_rw0baguq6y.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_754425_rw0baguq6y.svg#iconfont') format('svg');
}
.news_bn{
	height: 45px;
	background-color: transparent;
	margin-top: 10px;
}
.header{
	box-shadow: 0px 5px 10px #EEEEEE;
}

.mall_bread{
	font-size: 14px;
	line-height: 45px;
}
.cart_process_wp {
    width: 1180px;
    padding: 5px;
    /*border: #000000 1px solid;*/
}
.process_box{
	width: 365px;
	height: 294px;
	border: #ebebeb 1px solid;
	float: left;
	margin: 13px;
}
.pro_num{
	width: 68px;
	height: 68px;
	border-radius: 34px;
	border: #d0d0d0 1px solid;
	text-align: center;
	color: #565656;
	line-height: 68px;
	margin: 50px 0 0 150px;
}
.pro_num.act{
	background-color: #dcb57a;
	color: #FFFFFF;
	border: #dcb57a 1px solid;
}
.cn_p{
	font-size: 24px;
	letter-spacing: 1px;
	color: #565656;	
	padding-top: 30px;
	text-align: center;
}
.en_p{
	font-size: 16px;
	color: #565656;	
	padding-top: 20px;
	text-align: center;
}
.line{
	width: 74px;
	height: 3px;
	background: #d3a359;
	text-align: center;
	margin-top: 30px;
	margin-left: 148px;
}
.re_wp{
	width: 400px;
	margin: auto;
}
.em_p{
	font-size: 30px;
	letter-spacing: 0px;
	color: #999999;
	text-align: center;
	margin-top: 50px;
}
.em_p.fu{
	color: #80b435;
}
.img_wp{
	width: 132px;
	margin: auto;
}
.re_btn{
	color: white;
	font-size: 16px;
	width: 150px;
	height: 50px;
	background: #D3A359;
	margin: auto;
	display: block;
	margin-top: 50px;
	margin-bottom: 200px;
}
.re_btn:active{
	position: relative;
	top: 1px;
	left: 1px;
}
.dis_none{
	display: none!important;
}
.more_add,.rec_add{
	font-size: 14px;
	color: #666!important;
	padding-left: 30px;
	padding-top: 5px;
	width: 70px;
}
.more_add>a,.rec_add>a{
	color: #666!important;
}
.add_wp{
	height: 82px;
	overflow: hidden;
}
.add_left{
	min-width: 750px;display: inline-block;
}
.more_add b{
	background: url(../img/addr-i.png) no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
    height: 10px;
    line-height: 10px;
    width: 9px;
    margin-left: 5px;
}
.rec_add b{
	background: url(../img/addr-i.png) no-repeat 0 -10px;
	    display: inline-block;
    vertical-align: middle;
    height: 10px;
    line-height: 10px;
    width: 9px;
    margin-left: 5px;
}
.cart_wp{
	width: 1180px;
    padding: 17px;
}
.cart_hd{
	background: #DCB57A;
	width: 1153px;
	height: 60px;
	border-radius: 3px;
}
.cart_master_info{
	width: 1123px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	padding:15px
}
.cart_pay_sel{
	width: 1123px;
	border-radius: 3px;
	border: 1px solid #e8e8e8;
	padding:15px;
	position: relative;
	border-top: 0px;
}
.num_s_wp{
	width: 135px;height: 50px;color: #565656;display: table-cell;text-align: center;vertical-align: middle;
}
.cart_item.check{
	padding-top: 30px;
	position: relative;
}
.back_cart{
	position: absolute;
	top: 20px;
	right: 53px;
	color: #005ea7;
	font-size: 16px;
}
.js_label{
	display: inline-block;width: 910px;padding: 6px 0px;text-align: right;color: #666;font-size: 16px;
}
.js_label span{
	color: #D3A359;
}
.js_price{
	width: 192px; padding: 6px;display: inline-block;text-align: right;color: #333;font-size: 16px;
}
.js_bill{
	border-bottom: solid 1px #e5e5e5;padding: 20px;width: 1120px;
}
.check_zf_tip{
	padding-right: 20px;line-height: 50px;display: inline-block;font-size: 16px;color: #555;width: 900px;text-align: right;
}
.check_zf_tip a{
	color: #005ea7;
}
.check_up_bill{
	display: inline-block; border-radius: 3px; font-size: 18px; letter-spacing: 1px;	background-color: #d3a359;width: 234px;height: 50px;color: #fff;
}
.js_up_wp{
	padding: 68px 0 100px 0;
}
.need_amount{
	font-size: 22px;
	letter-spacing: 1px;
	color: #d3a359;

}
.pt15{
	padding-top: 15px;
}
.num_s_wp>span:nth-child(2){
	font-size: 20px;
}
.textarea {
	width: 420px;
	height: 115px;
	border-radius: 3px;
	border: solid 1px #e8e8e8;
	  resize: none;
    outline: 0;
    color: #555;
    overflow: hidden;
    font-size: 16px;
    padding: 15px;
    position: absolute;
    bottom: 15px;
    right: 20px;
}
.surplus{
	font-size: 16px;
	color:#999999;
	position: absolute;
	bottom: 24px;
	right: 36px;
}
.surplus span{
	color: #D3A359;
}
.f_left_wp{
	width: 665px;
	height: 240px;
}
.zf_btn{
	display: table-cell;vertical-align: middle;text-align: center;position: relative;
							width: 114px;height: 31px;border: solid 1px #d3a359;border-radius: 3px;
							
}
.zf_b{
	  position: absolute;
    width: 11px;
    height: 11px;
    background: url(../img/selected.png) no-repeat;
    right: 0;
    bottom: 0;
}
.info_title{
	float: left;
	color: #333333;
	font-size: 18px;
}
.add_btn{
	float: right;
	color: #005ea7;
	font-size: 16px;
}
.add_btn:hover{
	color: #D3A359
}
.add_title.sel {
    border: solid 1px #D3A359;
}
.add,.add_del,.add_edit{
	color: #005ea7;
}

.add_def{
	color: #D3A359;
}

.add_title {
    position: relative;
    margin-right: 10px;
    cursor: pointer;
    padding: 6px 12px;
    color: #666666;
    font-size: 12px;
    border: solid 1px #cccccc;
    border-radius: 3px;
}
.add_title.sel b {
    position: absolute;
    width: 11px;
    height: 11px;
    background: url(../img/selected.png) no-repeat;
    right: 0;
    bottom: 0;
}
.add_def,.set_def{
	padding: 10px;
}
.add:hover{
	color: #D3A359;
}
.d_il{
	display: inline-block;
}
.add_item,.add_item a:nth-child(0){
	font-size: 16px;
	color: #555;
	margin-left: 30px;
	padding: 10px 0;
}
.add_item span{
	padding: 0 5px;
}
.cart_hd>p{
	font-size: 18px;
	letter-spacing: 1px;
	color: #ffffff;	
	line-height: 60px;
	display: inline-block;
}
.name{
	width: 200px;
	text-align: center;
}
.all_select{
	width: 304px;
	padding-left:45px;
	position: relative;
}
.all_btn{
	margin-right: 20px;
	opacity: 0;
}
.checkStock{
	position: absolute;
	left: 90px;
	top: 0;
	font-size: 18px;
	color: #D3A359;
	
}
.exchange_type{
	width: 150px;
	text-align: center;
}
.num,.total{
	width: 205px;
	text-align: right;
}
.total{
	text-align: center;
}
.cart_item{
	padding-top: 58px;
	padding-bottom: 30px;
	height: 200px;
	border-bottom: #e6e6e6 1px solid;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.cart_img_wp{
	width: 200px;
	height: 200px;
}
.cart_img_wp>img{
	width: 200px;
	height: 200px;
}
.cart_detail_wp{
	width: 300px;
	padding-left: 50px;
	position: relative;
}
.label2 {
    position: absolute;
    top: 1px;
    width: 20px;
    height: 20px;
    background: url(../img/cart_select.jpg);
    cursor: pointer;
}
.label3 {
    position: absolute;
    top: 54px;
    left: 252px;
    width: 20px;
    height: 20px;
    background: url(../img/cart_select.jpg);
    cursor: pointer;
}
.label1 {
    position: absolute;
    top: 21px;
    left: 44px;
    width: 20px;
    height: 20px;
    background: url(../img/cart_select1.jpg);
    cursor: pointer;
}
.checkbox{
	opacity: 0;
}
input:checked+.label2 { 
    background-color: transparent;
    background: url(../img/cart_selected.jpg);
}
input:checked+.label3 { 
    background-color: transparent;
    background: url(../img/cart_selected.jpg);
}
input:checked+.label1 { 
    background-color: transparent;
    background: url(../img/cart_selected.jpg);
}
/*input:checked+label::after {
    position: absolute;
    content: "";
    width: 5px;
    height: 10px;
    top: 0px;
    left: 4px;
    border:2px solid #D3A359;
    border-top: none;
    border-left: none;
    transform: rotate(45deg);
    
}*/
.checkbox{
	display: block;
}
.cart_name{
	font-size: 18px;
	color: #333333;
	margin-top: 40px;
	display: block;
}
.cart_jf{
	font-size: 18px;
	letter-spacing: 1px;
	color: #666666;
	line-height: 155px;
	text-align: center;
}

.cart_par_label:after{
	content: "：";
}
.cart_par{
	padding-top: 30px;
	font-size: 18px;
	color: #333333;
}
.cart_jf_wp{
	width: 170px;
}
.cart_num_wp{
	width: 200px;
}
.cart_num_wp>a{
	line-height: 150px;
}
.reduce,.plus{
	width: 42px;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	text-align: center;
	font-size: 20px;
}
.reduce:hover,.plus:hover{
	background: #eee;
}
.calc_p:hover{
	color: #D3A359;
}
.num_wp{
	width: 135px;
	height: 50px;
	border: 1px solid #d9d9d9;
	margin-top: 50px;
    margin-left: 70px;
}
.sum{
	width: 51px;
	height: 50px;
	line-height: 50px;
	border:transparent;
	text-align: center;
	font-size: 22px;
}
.cart_total_wp{
	width: 210px;
}
.cart_total_jf{
	font-size: 18px;
	letter-spacing: 1px;
	color: #D3A359;
	line-height: 150px;
	text-align: right;
}
.del_btn{
	padding-left: 30px;
}
.del_btn>i{
		font-size: 20px;
		color: black;
}

.calc_wp{
	height: 130px;
	border-bottom: #e6e6e6 1px solid;
	padding-left: 45px;
	position: relative;
	clear: both;
}
.total_check{
	display: inline-block;
	margin-left: 146px;
	opacity: 0;
}
.all_select_2{
	padding-left:20px ;
}
.calc_p{
		font-size: 18px;	letter-spacing: 1px;color: #333333;
			display: inline-block;
line-height: 130px;
}
.mr40{
	margin-right: 40px;
}
.mr20{
	margin-right: 20px;
}
.mr150{
	margin-right: 150px;
}
.js_wp{
	position: absolute;
	width: 180px;
	height: 128px;
	display: inline-block;
}
.js_wp>p:nth-child(1){
	padding-top: 30px;
	text-align: center;font-size: 18px;	letter-spacing: 1px;color: #333333;
}

.js_wp>p:nth-child(2){
	padding-top: 10px;
	text-align: center;
	font-size: 22px;	letter-spacing: 1px;color: #D3A359;
}
.jss_wp{
	padding-top: 50px;
	padding-bottom: 100px;
	height: 50px;
}
.js_btn{
	width: 168px;
	height: 50px;
	border: 1px solid #d9d9d9;
	padding: 0px;
	color: #565656;
	letter-spacing: 1px;
	font-size: 18px;
}
.btn:active{
	position: relative;
	top: 1px;
	left: 1px;
}
.qjs_btn{
	width: 324px;
	height: 50px;
	padding: 0px;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-size: 18px;
	background: #D3A359;
}

.add_pop{
	width: 470px;
	height: 525px;
	display: none;
}
.js_pop{
	width: 470px;
	height: 225px;
	display: none;
}
.fcd3{
	color: #D3A359
}
.w200{
	width: 200px!important;
}

.pwd_err_tip{
	width: 430px;text-align: center;font-size: 12px;color: #d42925;
}
.layui-layer-title {
    padding: 0 80px 0 20px;
    height: 60px!important;
    line-height: 60px!important;
    border-bottom: 1px solid #eee;
    font-size: 18px!important;
    color: #555555!important;
    overflow: hidden;
    background-color: #f5f5f5!important;
    border-radius: 2px 2px 0 0;
    text-align: center;
}
.layui-layer-setwin {
    right: 20px!important;
    top: 25px!important;
}
.row:first-of-type{
	padding-top: 20px;
}
.row{
	padding: 15px 0;
}
.label{
	width: 105px;
	text-align: right;
	font-size: 16px;
	color: #555555;
	line-height: 30px;
	display: inline-block;
}
.label:after{
	content: "：";
}
.require:before{
	content: "*";
	color: red;
}
.input{
	width: 310px;
	height: 30px;
	color: #333333;
	padding-left: 16px;
	border: solid 1px #eeeeee;
}
.addContainer{
	width: 310px;
	height: 30px;
	display: inline-block;
}
select{
	width: 100px;
	height: 30px;
	border: solid 1px #eeeeee;
}
.save_add{
	display: inline-block;
	width: 127px;
	height: 40px;
	background-color: #d3a359;
	border-radius: 3px;
	font-size: 15px;
	color: white;
	letter-spacing: 1px;
    margin: 0 176px;
    margin-top: 20px;
}
.confirm_tip{
	position: relative;
	width: 436px;
	height: 192px;
	display: none;
	background: url(../img/confirm_tip.png);
}
.confirm_tip p{
	font-size: 14px;
	color: rgba(0,0,0,0.65);
	line-height: 22px;
	position: absolute;
	top: 69px;
	left: 71px;
}
.confirm_tip button:nth-child(3){
	width: 66px;
	height: 30px;
	opacity: 0;
	position: absolute;
	bottom:25px;
	left: 339px;
	background: red;
}
.confirm_tip button:nth-child(2){
    width: 66px;
    height: 30px;
    opacity: 0;
    position: absolute;
    bottom: 25px;
    left: 267px;
    background: red;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
