
.team .member-list .list-item-inner{
    position: relative;
}

.member-list .slick-center .list-item-inner {
    -moz-transform: scale(1.15);
    -ms-transform: scale(1.15);
    -o-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    /*color: #e67e22;*/
    transform: scale(1.15);
    /*top: 60px;*/
   z-index: 1;
}

.member-list .slick-center .list-item-inner p{
    opacity: 1;
}
.member-list .slick-center .list-item-inner img {
    /*outline: 2px solid #D58814;*/
}
.member-list .list-item-inner p {
    opacity: 0.8;
}

.member-list .list-item-inner {
    background-color: #133364;
    transition: all 300ms ease;
    padding: 0px;
    outline: none;
}

.member-list .list-item{
    outline: none;
    padding: 0px 0px 100px 0px ;
    /*margin-left: 50px;
    margin-right: 50px;*/
}

.member-list .slick-slide{
   padding-top: 32px;
   padding-bottom: 33px;
}

.member-list-names {
    margin-top: -10px;
    text-align: center;
    color: #D88F23;
    font-size: 36px;
}



.team .member-detail .role div {
    width:60px;
    height: 24px;
    margin: 0 auto;
    background-color: #133364;
    font-size: 14px;
    color: #ffffff;
}
.team .member-detail .role div h5 {
    text-align: center;
    line-height: 24px;
}

.team .member-detail .detail-item {
    outline: none;
}

.team .member-detail p {
    font-size: 14px;
    color: #666666;
    line-height: 25px;
    text-indent: 20px;
}




.team .container {
    background: url(../img/bg_team.png) no-repeat center center;
    background-position: bottom;
}
.inner {
    position: relative;
    height: 100%;
    width: 60%;
    margin: 0 auto;
}
.container .inner .title-top-box {
    height: 200px;
    width: 600px;
    display: table-cell;
    vertical-align: middle;
}
.title-top-box .content-box {
    width: 96px;
    height: 96px;
    position: relative;
}
.title-top-box .title-text {
    font-size: 48px;
    color: #133364;
    position: absolute;
    bottom: -20px;
    width: 200px;
    left: 56px;
}

.team .member-detail {
    /*border-top: 1px solid #D88F23;
    padding-top: 10px;*/
}
.page-bottom-space {
    width: 100%;
    height: 100px;
}

.boss_name{
	font-size: 36px!important;color: #111111!important; margin: 5px 0 36px 0!important;
}
.boss_line{
	background:#D3A359;height: 1px; width: 100%;
}
.identity{
	font-size: 24px!important;color: #666666!important; margin: 24px 0!important;
}
