@charset "utf-8";
/* CSS Document */
html,body,div,span,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,address,big,cite,code,del,em,font,img,ins,small,strong,var,b,u, i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend{margin:0;padding:0;}
body{ background:#FFFFFF; color:#333333; font-family:"宋体",Arial,Lucida,Verdana,Helvetica,sans-serif; font-size:12px; line-height:150%; }
/*a:link, a:visited{ color:#333333; text-decoration:none; }*/
a:hover{ color:#D3A359; text-decoration:underline; }
a:active{ color:#D3A359; }
ol, ul{ list-style: none outside none;}
.m { margin-bottom: 10px; }
.m, .mt, .mc, .mb{ overflow: hidden; }

/* Clear Fix */ 
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} 
.clearfix{display:inline-block;} 
/* Hide from IE Mac */ 
.clearfix{display:block;} 
/* End hide from IE Mac */ 
/* end of clearfix */ 
/*页面全局结束*/
.tab{ overflow:hidden; }
.tab li,.tab a,.tab-item{cursor:pointer;float:left;text-align: center;}
.m, .mt, .mc, .mb{overflow:hidden;}
.mt .extra{float: right;}

.right-extra .mt{height:28px;line-height:28px;padding:0 10px 8px;border-top:1px solid #EED97C;background:url(../images/bg_hotsale.gif) repeat-x 0 -552px;color:#c00;}
.right-extra .tab{border-bottom:2px solid #BE0000;margin-bottom:10px;}
.right-extra .tab li{position:relative;height:24px;padding:3px 12px 0;background:url(../images/icon_clubs.gif) #ccc no-repeat right -150px;overflow:hidden;margin-right:3px;line-height:24px;font-size:14px;font-weight:bold;color:#c30;}
.right-extra .tab span{position:absolute;left:0;top:0;z-index:1;width:10px;height:27px;background:url(../images/icon_clubs.gif) no-repeat 0 -150px;}
.right-extra .tab a{float:none;color:#c30;}
.right-extra .tab .curr{background-position:right -178px;color:#fff;}
.right-extra .tab .curr span{background-position:0 -178px;}
.right-extra .tab .curr a{color:#fff;}
.right-extra .mc .extra{padding:5px 10px;border-top:1px solid #F3E6C6;}
.right-extra .total{float:right;}
.right-extra .total strong{color:#FF7403;}
.right-extra .total a:link,.right-extra .total a:visited{color:#005aa0;}
.right-extra .join a:link,.right-extra .join a:visited{color:#FF7604;}
.right-extra .norecode{padding:0 10px 10px;}
.right-extra .iloading{margin-bottom:10px;}

/*图片放大镜样式*/
.jqzoom{float:left;border:none;position:relative;padding:0px;cursor:pointer;margin:0px;display:block;}
.zoomdiv{z-index:100;position:absolute;top:0px;left:0px;width:350px;height:350px;background:#ffffff;border:1px solid #CCCCCC;display:none;text-align:center;overflow:hidden;}
.jqZoomPup{z-index:10;visibility:hidden;position:absolute;top:0px;left:0px;width:20px;height:20px;border:1px solid #aaa;background:#ffffff /*url(../images/zoom.png) 50% center no-repeat*/;opacity: 0.5;-moz-opacity: 0.5;-khtml-opacity: 0.5;filter: alpha(Opacity=50);}

/*图片小图预览列表*/
.spec-preview{width:450px;height:450px;border:1px solid #DFDFDF;}
.spec-scroll{
	clear:both;margin-top:5px;width:452px;
	position: relative;
}
.spec-scroll .prev{float:left;margin-right:4px;}
.spec-scroll .next{float:right;}
.spec-scroll .prev,.spec-scroll .next{
	display:block;font-family:"宋体";text-align:center; line-height:65px;
	
	cursor:pointer;text-decoration:none;
		
	}
.next{
	background-image: url(../img/mall_arrow.png);
	position: absolute;
	width: 24px;
	height: 24px;
	top: 23px;
	right: -15px;
	background-position: 0px 12px;
}
.prev{
	background-image: url(../img/mall_arrow.png);
	position: absolute;
	width: 24px;
	height: 24px;
	top: 23px;
	left: -15px;
}
.spec-scroll .items{float:left;position:relative;width:440px;height:69px;overflow:hidden;}
.spec-scroll .items ul{position:absolute;width:999999px;height:65px;}
.spec-scroll .items ul li{float:left;width:65px;text-align:center;margin: 0 12px;}
.spec-scroll .items ul li img{border:1px solid #CCC;padding:2px;width:63px;height:63px;}
.spec-scroll .items ul li img:hover{border:2px solid #D3A359;padding:1px;}
			.jqzoom>img{
				width: 450px;
				height: 450px;
			}
.spec-scroll .items ul li .hover{
	border:2px solid #D3A359;padding:1px;
}
.label{
	width: 118px;
	display: inline-block;
	color: #333333;
	font-size: 12px;
	line-height: 55px;
	text-indent: 30px;
}
.label:after{
	content: "：";
}
.price{
	color: #a8a8a8;
	line-height: 55px;
	font-size: 24px;
	display: inline-block;
	text-decoration: line-through;
}
.or_price{
	color: #D3A359;
    line-height: 55px;
    font-size: 25px;
    display: inline-block;
}
.vip_price {
    color: #e6382f;
    line-height: 55px;
    font-size: 25px;
    display: inline-block;
    font-weight: bold;
}