<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szq.store.dao.mallDao.AccountDao">

    <insert id="addAccount" parameterType="com.szq.store.entity.mallBo.AccountBo"
            useGeneratedKeys="true" keyProperty="id">
        insert into mall_account SET  user_id = #{userId},create_time = NOW(),integral = #{integral},payment_password=#{paymentPassword},leavestatus=#{leavestatus}
    </insert>
    <update id="updatePassWord" parameterType="com.szq.store.entity.mallBo.AccountBo">
        update mall_account set payment_password = #{paymentPassword}
         where user_id = #{userId}
    </update>
    <update id="updateIntegral" parameterType="com.szq.store.entity.mallBo.AccountBo">
        update mall_account set integral = #{integral}
       where id = #{id}
    </update>
    <update id="updateAddIntegral" parameterType="com.szq.store.entity.mallBo.AccountBo">
        update mall_account set integral = #{integral}
        ,update_time = now() where id = #{id}
    </update>

    <select id="queryAccountByUserId" parameterType="int" resultType="com.szq.store.entity.mallBo.AccountBo">
        select * from mall_account WHERE user_id=#{userId}
    </select>

    <delete id="deleteAccount" parameterType="int">
        delete from mall_account where id = #{id}
    </delete>
</mapper>