<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szq.store.dao.AssetManagementDetailsDao">



    <select id="queryAssetManagementDetails" resultType="com.szq.store.entity.bo.AssetManagementDetailsBO">
        SELECT * FROM gh_asset_management_details WHERE  status=1
    </select>
    <select id="queryAssetManagementDetailsWap" resultType="com.szq.store.entity.bo.AssetManagementDetailsBO">
        SELECT * FROM gh_asset_management_details WHERE  status=2
    </select>


    <update id="updateAssetManagement" parameterType="com.szq.store.entity.bo.AssetManagementDetailsBO">
        UPDATE gh_asset_management_details  SET img_url = #{imgUrl},
        update_time = NOW()
    </update>
</mapper>