<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szq.store.dao.mallDao.BrowseHistoryDao">

    <sql id="limit">
        limit #{pageOffset}, #{pageSize}
    </sql>

    <select id="getBrowseHistoryListCount" parameterType="map" resultType="int" >
        SELECT
            count(mg.`name`)
        FROM
            mall_price_and_specification ms
        LEFT JOIN mall_goods mg ON ms.goods_id = mg.id
        LEFT JOIN mall_goods_follow mf ON ms.sku = mf.sku
        AND mf.user_id = #{userId}
        WHERE
            ms.sku IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

    <select id="getBrowseHistoryList" parameterType="map" resultType="map">
        SELECT
            mg.id AS gid,
            mg.`name`,
            mg.introduce_img_url,
            ms.price,
            ms.preferential_price,
            ms.preferential_start_time,
            ms.preferential_end_time,
            ms.sku,
            mf.id AS fid
            FROM
            mall_price_and_specification ms
            LEFT JOIN mall_goods mg ON ms.goods_id = mg.id
            LEFT JOIN mall_goods_follow mf ON ms.sku = mf.sku
            AND mf.user_id = #{userId}
            WHERE
            ms.sku IN
        <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
             #{item}
        </foreach>
        limit #{pageOffset}, #{pageSize}
    </select>


</mapper>