<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        <mapper namespace="com.szq.store.dao.ChairmanSpeechDao">
   <!-- 添加-->
    <insert id="addChairmanSpeech" parameterType="com.szq.store.entity.bo.ChairmanSpeechBo"
            useGeneratedKeys="true" keyProperty="id">
        insert into gh_guanghe_on_chairman_speech SET  title = #{title},source = #{source},create_time = NOW(),
    chairman_speech = #{chairmanUpeech},create_user = #{createUser},image=#{image},wapImage=#{wapImage}
    </insert>
    <update id="updateChairmanSpeech" parameterType="com.szq.store.entity.bo.ChairmanSpeechBo">
        update gh_guanghe_on_chairman_speech set title = #{title}, chairman_speech = #{chairmanUpeech}, image = #{image},
        update_time = now(),update_user = #{updateUser} ,source = #{source},wapImage=#{wapImage} where id = #{id}
    </update>
    <select id="queryChairmanSpeechDetailById" parameterType="int" resultType="com.szq.store.entity.bo.ChairmanSpeechBo">
        select * from gh_guanghe_on_chairman_speech where id = #{id}
    </select>

    <select id="queryChairmanSpeechDetail" parameterType="int" resultType="com.szq.store.entity.bo.ChairmanSpeechBo">
        select * from gh_guanghe_on_chairman_speech  limit 1
    </select>

    <delete id="deleteChairmanSpeech" parameterType="int">
        delete from gh_guanghe_on_chairman_speech where id = #{id}
    </delete>
</mapper>