<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szq.store.dao.PrivateInvestmentInvestmentPoinDao">

    <sql id="limit">
        limit #{pageOffset}, #{pageSize}
    </sql>

    <select id="queryInvestmentPoinCount" resultType="int">
        SELECT COUNT(id) FROM gh_private_investment_investment_poin
    </select>

    <select id="queryInvestmentPoinList" parameterType="map" resultType="com.szq.store.entity.bo.PrivateInvestmentInvestmentPoinBO">
        SELECT * FROM gh_private_investment_investment_poin WHERE 1=1 ORDER BY create_time
        <!--<include refid="limit"/>-->
    </select>

    <select id="queryInvestmentPoinById" parameterType="int" resultType="com.szq.store.entity.bo.PrivateInvestmentInvestmentPoinBO">
        SELECT * FROM gh_private_investment_investment_poin WHERE id = #{id}
    </select>

    <delete id="deleteInvestmentPoin" parameterType="int">
        DELETE FROM gh_private_investment_investment_poin WHERE id = #{id}
    </delete>

    <insert id="addInvestmentPoinBO" parameterType="String">
        INSERT INTO gh_private_investment_investment_poin SET name = #{name} ,create_time = NOW()

    </insert>

    <update id="updateInvestmentPoinBO" parameterType="com.szq.store.entity.bo.PrivateInvestmentInvestmentPoinBO">
        UPDATE gh_private_investment_investment_poin  SET name = #{name} WHERE id = #{id}
    </update>
</mapper>