<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szq.store.dao.UserDAO">

    <!-- 根据手机号查找用户 -->
    <select id="queryUserInfoByMobile" parameterType="com.szq.store.entity.bo.UserBO" resultType="com.szq.store.entity.bo.UserBO">

        SELECT id,username,name,nickname,birthday,phone_number,email,gender,
        wechat,sina_weibo,twiter,facebook,linkedin,head_portrait,country,financial_manager_number,password
        FROM gh_user WHERE phone_number = #{phoneNumber}
    </select>

    <!-- 根据手机号查找用户数量 -->
    <select id="selectCountByMobileCode" parameterType="com.szq.store.entity.bo.UserBO" resultType="int">
        SELECT count(id) FROM gh_user WHERE phone_number = #{phoneNumber}
    </select>

    <!-- 用户注册 -->
    <insert id="register" parameterType="com.szq.store.entity.bo.UserBO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gh_user SET phone_number = #{phoneNumber}, password = #{password}, create_time = NOW(),head_portrait=#{headPortrait}
        <if test="financialManagerNumber != '' ">
            ,financial_manager_number = #{financialManagerNumber}
        </if>

    </insert>

    <!-- 根据手机号码修改用户密码 -->
    <update id="updatePasswordByMobileCode" parameterType="com.szq.store.entity.bo.UserBO">
        UPDATE gh_user SET password = #{password}, modify_time = NOW() WHERE id = #{id} AND phone_number = #{phoneNumber}
    </update>


    <insert id="createUserByPhone" parameterType="com.szq.store.entity.bo.UserBO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gh_user SET phone_number=#{phoneNumber},create_time=now(),head_portrait=#{headPortrait}

    </insert>

    <update id="updateUserimage" parameterType="com.szq.store.entity.bo.UserBO">
        UPDATE gh_user SET head_portrait = #{headPortrait} WHERE id = #{id}
    </update>
    <select id="selectuserInfo" resultType="com.szq.store.entity.bo.UserBO" parameterType="int">
        SELECT * FROM gh_user WHERE id = #{id}
    </select>

</mapper>
